
*.opendb
Agile-Work-Management/credentials.h
Agile-Work-Management/.vs/Agile-Work-Management/FileContentIndex/14812a0d-de7a-4d23-a0b0-fba77140a815.vsidx
Agile-Work-Management/.vs/Agile-Work-Management/FileContentIndex/28982476-e6aa-4a50-ae85-ee29495e1003.vsidx
Agile-Work-Management/.vs/Agile-Work-Management/FileContentIndex/32737fa2-439b-49f1-b69d-464f0c61315c.vsidx
Agile-Work-Management/.vs/Agile-Work-Management/FileContentIndex/6c80479e-df8d-4d0e-92bb-b70339e5d8e5.vsidx
Agile-Work-Management/.vs/Agile-Work-Management/FileContentIndex/81b919c5-62c0-463c-9233-adf5426cb885.vsidx
Agile-Work-Management/.vs/Agile-Work-Management/FileContentIndex/906ce0d5-e30e-4a32-a6ae-f856ebb8a130.vsidx
Agile-Work-Management/.vs/Agile-Work-Management/FileContentIndex/c00d9dd6-2499-4859-b33c-b8166a60557a.vsidx
Agile-Work-Management/.vs/Agile-Work-Management/FileContentIndex/f43beab3-5558-4115-b12a-35f48c39b888.vsidx
Agile-Work-Management/.vs/Agile-Work-Management/v17/.suo
Agile-Work-Management/.vs/Agile-Work-Management/v17/Browse.VC.db
Agile-Work-Management/.vs/Agile-Work-Management/v17/ipch/AutoPCH/2344216c1f6510fa/TESTS.ipch
Agile-Work-Management/.vs/Agile-Work-Management/v17/ipch/AutoPCH/81ceb9de761af422/MAIN.ipch
Agile-Work-Management/.vs/Agile-Work-Management/v17/ipch/AutoPCH/a20d4a9c77749831/PROJECTDAO.ipch
Agile-Work-Management/Agile-Work-Management.vcxproj
Agile-Work-Management/Agile-Work-Management.vcxproj.filters
Agile-Work-Management/x64/Release/Agile-Wo.6954910c.tlog/CL.command.1.tlog
Agile-Work-Management/x64/Release/Agile-Wo.6954910c.tlog/CL.read.1.tlog
Agile-Work-Management/x64/Release/Agile-Wo.6954910c.tlog/CL.write.1.tlog
Agile-Work-Management/x64/Release/Agile-Wo.6954910c.tlog/link.command.1.tlog
Agile-Work-Management/x64/Release/Agile-Wo.6954910c.tlog/link.read.1.tlog
Agile-Work-Management/x64/Release/Agile-Wo.6954910c.tlog/link.write.1.tlog
Agile-Work-Management/x64/Release/Agile-Work-Management.Build.CppClean.log
Agile-Work-Management/x64/Release/Agile-Work-Management.exe
Agile-Work-Management/x64/Release/Agile-Work-Management.iobj
Agile-Work-Management/x64/Release/Agile-Work-Management.ipdb
Agile-Work-Management/x64/Release/Agile-Work-Management.log
Agile-Work-Management/x64/Release/Agile-Work-Management.pdb
Agile-Work-Management/x64/Release/main.obj
Agile-Work-Management/x64/Release/ProjectDAO.h.obj
Agile-Work-Management/x64/Release/Tests.obj
Agile-Work-Management/x64/Release/vc143.pdb
